name: Executar Testes com Pytest

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_USER: myuser
          POSTGRES_PASSWORD: mypassword
          POSTGRES_DB: scraper_db
        ports:
          - 5432:5432
        options: --health-cmd "pg_isready" --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
    - name: Clonar o repositório
      uses: actions/checkout@v3

    - name: Configurar Python
      uses: actions/setup-python@v3
      with:
        python-version: 3.9

    - name: Instalar dependências
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt

    - name: Definir variáveis de ambiente
      run: echo "API_KEY_GALP=${{ secrets.API_KEY_GALP }}" >> $GITHUB_ENV

    - name: Rodar os testes com pytest
      run: pytest tests/
